@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Common default colors */
    --color-text-base: 51, 51, 51;
    --color-text-secondary: 51, 51, 51;
    --color-text-muted: 40, 77, 75;
    --color-text-inverted: 126, 233, 233;

    --color-fill-primary: 245, 247, 235;
    --color-fill-secondary: 245, 247, 235;
    --color-button-inverted: 255, 255, 255;

    --color-button-primary: 40, 46, 46; /* Accent button color */
    --color-button-secondary: 152, 180, 179; /* Muted button color */
    --color-button-inverted: 255, 255, 255;

    --color-border-base: 211, 234, 243;
    --color-border-muted: 82, 172, 164;

    --color-gradient-start: 122, 196, 214;
    --color-gradient-end: 188, 226, 224;
  }

  * {
    @apply transition-colors duration-300 ease-in;
  }

  /* THEME OVERRIDES */

  /* Sunset theme */
  .theme-sunset {
    --color-text-base: 218, 57, 57;
    --color-text-secondary: 95, 81, 27; /* Added secondary */
    --color-text-muted: 95, 81, 27;
    --color-fill-primary: 255, 155, 109;
    --color-fill-secondary: 255, 155, 109; /* Added secondary */
    --color-button-primary: 248, 73, 73;
    --color-button-secondary: 239, 240, 176;
    --color-button-inverted: 255, 245, 230;
    --color-border-base: 245, 215, 191;
    --color-border-muted: 243, 152, 67;
    --color-gradient-start: 92, 80, 26;
    --color-gradient-end: 255, 230, 109;
  }

  /* Ocean theme */
  .theme-ocean {
    --color-text-base: 255, 255, 255;
    --color-text-secondary: 222, 242, 241; /* Added secondary */
    --color-text-muted: 222, 242, 241;
    --color-fill-primary: 254, 255, 255;
    --color-fill-secondary: 254, 255, 255; /* Added secondary */
    --color-button-primary: 27, 104, 114;
    --color-button-secondary: 222, 242, 241;
    --color-button-inverted: 3, 26, 36;
    --color-border-base: 211, 234, 243;
    --color-border-muted: 67, 243, 234;
    --color-gradient-start: 1, 88, 114;
    --color-gradient-end: 79, 153, 148;
  }

  /* Night theme */
  .theme-night {
    --color-text-base: 35, 13, 37;
    --color-text-secondary: 157, 78, 221; /* Added secondary */
    --color-text-muted: 157, 78, 221;
    --color-fill-primary: 74, 13, 103;
    --color-fill-secondary: 74, 13, 103; /* Added secondary */
    --color-button-primary: 106, 5, 114;
    --color-button-secondary: 217, 215, 241;
    --color-button-inverted: 245, 229, 240;
    --color-border-base: 217, 215, 241;
    --color-border-muted: 106, 5, 114;
    --color-gradient-start: 106, 5, 114;
    --color-gradient-end: 217, 215, 241;
  }

  /* Forest theme */
  .theme-forest {
    --color-text-base: 211, 246, 167;
    --color-text-secondary: 174, 217, 135; /* Added secondary */
    --color-text-muted: 174, 217, 135;
    --color-fill-primary: 42, 111, 35;
    --color-fill-secondary: 42, 111, 35; /* Added secondary */
    --color-button-primary: 137, 210, 150;
    --color-button-secondary: 245, 211, 163;
    --color-button-inverted: 255, 255, 255;
    --color-border-base: 184, 219, 167;
    --color-border-muted: 79, 138, 48;
    --color-gradient-start: 74, 158, 74;
    --color-gradient-end: 142, 220, 124;
  }

  /* Retro theme */
  .theme-retro {
    --color-text-base: 255, 255, 255;
    --color-text-secondary: 255, 64, 129; /* Added secondary */
    --color-text-muted: 255, 64, 129;
    --color-fill-primary: 140, 96, 167;
    --color-fill-secondary: 140, 96, 167; /* Added secondary */
    --color-button-primary: 255, 64, 129;
    --color-button-secondary: 44, 62, 80;
    --color-button-inverted: 247, 249, 252;
    --color-border-base: 255, 64, 129;
    --color-border-muted: 44, 62, 80;
    --color-gradient-start: 44, 62, 80;
    --color-gradient-end: 255, 64, 129;
  }
}



@layer components {
  .btn-header {
    @apply py-1 px-5 bg-blue-300 mx-2;
  }

  .btn-accent-inverted {
    @apply py-2 px-4 rounded-lg;
    background-color: var(--color-button-accent-inverted);
    color: var(--color-text-inverted);
  }

  .section-style {
    @apply relative flex py-8 w-auto min-h-screen items-center justify-center;
  }

  .sidebar-hr {
    @apply border-t border-gray-600 my-4;
  }

  .sidebarArrow {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 ml-auto mr-2 shadow-lg bg-slate-700 text-white hover:bg-slate-500 rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 hover:bg-slate-500 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-label {
    @apply relative flex items-center justify-center h-10 min-w-20 mt-2 mb-2 mx-auto shadow-md bg-gray-800 text-white text-sm hover:bg-white hover:text-black rounded-sm hover:rounded-2xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .themeToggleButton {
    @apply absolute flex items-center justify-center h-8 w-16 mx-auto shadow-md bg-white p-1 rounded-3xl;
  }
}
