@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-primary: 35, 13, 37;
    --color-text-secondary: 24, 41, 39;
    --color-text-inverted: 251, 250, 252;

    --color-fill-primary: 202, 229, 241;
    --color-fill-secondary: 66, 252, 242;
    --color-fill-inverted: 7, 2, 2;

    --color-button-primary: 6, 149, 206;
    --color-button-secondary: 47, 197, 243;
    --color-button-inverted: 0, 21, 29;

    --color-border-primary: 2, 3, 3;
    --color-border-inverted: 227, 255, 253;

    --color-gradient-start: 122, 196, 214;
    --color-gradient-end: 188, 226, 224;
  }

  * {
    @apply transition-colors duration-300 ease-in;
  }

  /* THEME OVERRIDES */

  /* Sunset theme */
  .theme-sunset {
    --color-text-primary: 39, 5, 5;
    --color-text-secondary: 70, 41, 15;
    --color-text-inverted: 241, 241, 233;

    --color-fill-primary: 240, 160, 107;
    --color-fill-secondary: 238, 144, 141;
    --color-fill-inverted: 139, 69, 3;

    --color-button-primary: 235, 215, 172;
    --color-button-secondary: 248, 217, 221;
    --color-button-inverted: 192, 4, 4;

    --color-border-primary: 43, 20, 2;
    --color-border-inverted: 177, 33, 7;

    --color-gradient-start: 190, 60, 0;
    --color-gradient-end: 243, 217, 145;
  }

  /* Ocean theme */
  .theme-ocean {
    --color-text-primary: 255, 255, 255;
    --color-text-secondary: 178, 252, 248;
    --color-text-inverted: 17, 54, 88;

    --color-fill-primary: 5, 102, 109;
    --color-fill-secondary: 60, 101, 177;
    --color-fill-inverted: 167, 225, 243;

    --color-button-primary: 27, 104, 114;
    --color-button-secondary: 13, 194, 164;
    --color-button-inverted: 229, 245, 252;

    --color-border-primary: 211, 234, 243;
    --color-border-inverted: 0, 37, 36;

    --color-gradient-start: 1, 88, 114;
    --color-gradient-end: 111, 187, 182;
  }

  /* Night theme */
  .theme-night {
    --color-text-primary: 76, 28, 82;
    --color-text-secondary: 89, 6, 156;
    --color-text-inverted: 190, 225, 248;

    --color-fill-primary: 220, 170, 248;
    --color-fill-secondary: 192, 57, 233;
    --color-fill-inverted: 77, 24, 24;

    --color-button-primary: 163, 164, 230;
    --color-button-secondary: 125, 114, 247;
    --color-button-inverted: 59, 8, 66;

    --color-border-primary: 15, 9, 77;
    --color-border-inverted: 252, 204, 255;

    --color-gradient-start: 98, 7, 172;
    --color-gradient-end: 245, 192, 240;
  }

  /* Forest theme */
  .theme-forest {
    --color-text-primary: 218, 233, 202;
    --color-text-secondary: 143, 248, 213;
    --color-text-inverted: 62, 95, 10;

    --color-fill-primary: 80, 97, 75;
    --color-fill-secondary: 30, 88, 23;
    --color-fill-inverted: 255, 255, 255;

    --color-button-primary: 1, 39, 20;
    --color-button-secondary: 35, 61, 1;
    --color-button-inverted: 227, 236, 225;

    --color-border-primary: 165, 231, 133;
    --color-border-inverted: 25, 59, 8;

    --color-gradient-start: 175, 238, 159;
    --color-gradient-end: 36, 37, 36;
}

.theme-retro {
    --color-text-primary: 231, 220, 201;
    --color-text-secondary: 230, 157, 97;
    --color-text-inverted: 1, 32, 78;

    --color-fill-primary: 3, 105, 119;
    --color-fill-secondary: 5, 56, 133;
    --color-fill-inverted: 252, 251, 231;

    --color-button-primary: 205, 51, 51;
    --color-button-secondary: 114, 35, 28;
    --color-button-inverted: 223, 233, 247;

    --color-border-primary: 245, 158, 187;
    --color-border-inverted: 9, 133, 122;

    --color-gradient-start: 1, 32, 49;
    --color-gradient-end: 212, 64, 113;
  }
}

@layer components {
  
  .content-style {
    @apply relative flex flex-col border-l-4 border-skin-inverted py-8 min-h-screen items-center justify-center bg-skin-primary bg-opacity-30;
    width: 100vw;
  }
  
  @media (min-width: 1024px) {
    .content-style {
      width: calc(100vw - 5rem); 
    }
  }

  .section-style{
    @apply flex items-start mb-6 justify-start w-full min-h-screen py-8 px-6 bg-white shadow-md rounded-lg 
    hover:shadow-lg transition-shadow duration-300 ease-in-out

  }  
  

  .btn-color {
    @apply text-skin-primary bg-skin-primary hover:text-skin-inverted
    hover:bg-skin-inverted border-skin-primary hover:border-skin-inverted;
  }

  .btn-color-inverted {
    @apply text-skin-inverted border-skin-inverted hover:text-skin-primary hover:border-skin-primary hover:bg-skin-inverted;
  }

  .btn-header{
    @apply flex items-center justify-center m-2 px-5 py-2 min-w-[8rem]
    text-skin-primary bg-skin-primary hover:text-skin-inverted hover:bg-skin-inverted
    rounded-xl border-2 border-skin-primary hover:border-skin-inverted;
  }

  .icon-header {
    @apply w-9 h-9 lg:w-10 lg:h-10 justify-center text-xl items-center bg-skin-inverted
    text-skin-inverted rounded-full hover:text-skin-inverted hover:bg-skin-inverted hover:rounded-xl p-1 lg:p-2
    border-2 border-skin-primary hover:border-skin-inverted;
  }

  .sidebar-label {
    @apply relative flex items-center justify-center h-10 min-w-20 mt-2 mb-2 mx-auto shadow-md bg-gray-800 text-white text-sm hover:bg-white hover:text-black rounded-sm hover:rounded-2xl transition-all duration-300 ease-linear cursor-pointer;
  }

}
